* {
    padding: 0;
    margin: 0;
}

.clearfix {
    zoom: 1;
    &:after {
        content: '';
        display: block;
        height: 0;
        clear: both;
    }
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif;
}
$themeColor:#1b65ce;