/* 变量定义 */
$colorBlack: #333;
$colorWhite: #fff;
$colorBlue: #1b65ce;
$colorRed: #ff4707;
$tipsColor: #666;
$titleColor: #f9f9f9;
$bgColor: #f0f4f7;
$borderColor: #ddd;
$numberColor: #fb565c;
$disableColor: #aaa;
$fontSize: 62.5%;
$fontFamily: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif;
$minWidth: 1200px;
$maxWidht: 1200px;
$footerHeight: 240px;
